<ion-tabs>
  <ion-tab-bar slot="bottom"
    class="bg-white dark:bg-gray-800 border-t border-slate-200 dark:border-gray-700 h-16 px-2 pt-1 rounded-t-2xl shadow-sm dark:shadow-md animate-fade-in-up">
    <ion-tab-button tab="home" href="/tabs/home"
      class="text-slate-400 dark:text-gray-400 data-[tab-selected]:text-gold-500 dark:data-[tab-selected]:text-green-400 relative">
      <ion-icon name="home" class="text-[22px]"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab1" href="/tabs/tab1"
      class="text-slate-400 dark:text-gray-400 data-[tab-selected]:text-gold-500 dark:data-[tab-selected]:text-green-400 relative text-[10px] font-semibold transition-all">
      <ion-icon name="headset-outline" class="text-[22px]"></ion-icon>
      <ion-label class="text-[10px] font-semibold">Istima'</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" href="/tabs/tab2"
      class="text-slate-400 dark:text-gray-400 data-[tab-selected]:text-gold-500 dark:data-[tab-selected]:text-green-400 relative text-[10px] font-semibold transition-all">
      <ion-icon name="chatbubbles-outline" class="text-[22px]"></ion-icon>
      <ion-label class="text-[10px] font-semibold">Al-Kalam</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" href="/tabs/tab3"
      class="text-slate-400 dark:text-gray-400 data-[tab-selected]:text-gold-500 dark:data-[tab-selected]:text-green-400 relative text-[10px] font-semibold transition-all">
      <ion-icon name="help-outline" class="text-[22px]"></ion-icon>
      <ion-label class="text-[10px] font-semibold">Al-Qiroah</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4" href="/tabs/tab4"
      class="text-slate-400 dark:text-gray-400 data-[tab-selected]:text-gold-500 dark:data-[tab-selected]:text-green-400 relative text-[10px] font-semibold transition-all">
      <ion-icon name="create-outline" class="text-[22px]"></ion-icon>
      <ion-label class="text-[10px] font-semibold">Al-Kitabah</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
