<ion-content>
  <div class="splash-accent"></div>
  <div class="splash-overlay"></div>
  <div class="splash-content" [class.fade-out]="fadeOut">
    <img class="splash-logo animate-scale-in" src="assets/img/logo_uika.png" alt="UIKA Bogor" />
    <h1 class="splash-title" style="animation-delay: 150ms">Lughaty Digital</h1>
    <p class="splash-tagline" style="animation-delay: 300ms">Pengembangan Bahan Ajar Bahasa Arab Interaktif</p>
    <p class="splash-sub" style="animation-delay: 450ms">sebagai Media Komunikasi Dakwah Digital</p>
    <div class="splash-loader" style="animation-delay: 600ms">
      <div class="loader-bar"></div>
    </div>
  </div>
</ion-content>
